Library/
Temp/
obj/
.vs/
*.exr
Assets/Programing Playground/LightingData.asset.meta
Assets/Programing Playground/Lightmap-0_comp_dir.png
Assets/Programing Playground/Lightmap-0_comp_dir.png.meta
Assets/Programing Playground/Lightmap-0_comp_light.exr.meta
Assets/Programing Playground/ReflectionProbe-0.exr.meta
/Assets/Standard Assets
